body{
    background-color: #8b25fe;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

input {
    width: 20vw;
    border: black 2px solid;
    border-radius: 20px;
}

.score-card {
    display: flex;
    justify-content: center;
    font-size: 64px;
    gap: 40px;
    margin-top: 20px;
}

.score-card div{
    width: 30vw;
    border: 2px black solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background-color: #25fe8b;

}
p {
    font-weight: 400;
    margin-top: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#winner {
    font-size: 128px;
    font-weight: bold;
    color: gold;
    text-shadow: 4px 4px black;
}

.selected-throw-player{
    border:gold 8px solid;
}

.selected-throw-computer {
    border: red 8px solid;
}